<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ceate Student</title>
</head>
<body>
<form method="POST" action="">
    <center>
    <H1>Enter student details </H1> <br>
        Student ID <input type = "number" name= "id" required/> <br>
        Student Name <input type = "text" name = "name" required/> <br>
        Student address <input type = "text" name = "addess" required/> <br>
        Book ID <input type="number" name="bookid" required/> <br>
    <input type = "submit">
    </center>
</form>
</body>
</html>